@import 'assets/css/_variables';

footer {
  background-color: $footer-outer;
  text-align: center;

  p {
    margin: 0;
  }

  ul.footer-links {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
    margin-left: -15px;
    text-transform: uppercase;

    li {
      margin-left: $grid-gutter-width/2;
      margin-right: $grid-gutter-width/2;
      display: inline-block;
    }
  }
  .footer-attribution {
    font-size: $font-size-sm;
  }
  .catalyst {
    color: #ba2025;
  }
  .constrainer {
    background-color: $footer-inner;
    border-color: $footer-border;
  }
}
