@import "../../../assets/css/variables";

.navbar.navbar-inverse {
  border: 0;

  .constrainer {
    background-color: darken($navbar-inverse-bg, 5%);
    border-color: lighten($navbar-inverse-bg, 5%);
  }

  .navbar-nav {
    text-transform: uppercase;
  }

  .navbar-brand {
    padding-top: 24px;
    padding-bottom: 24px;

    img {
      height: 32px;
    }

    @media (min-width: $grid-float-breakpoint) {
      // Fix as addition of .constrainer means > selectors in core BS code no longer add left margin
      margin-left: -$navbar-padding-horizontal;
    }
  }

  .container-fluid {
    // Bit hacky, but overrides fact that react-bootstrap adds a container before constrainer
    padding: 0;
  }
}
