@import "../../assets/css/variables";

.BlogPost {
  margin-bottom: $line-height-computed;
  
  h3, h4 {
    font-family: $font-family-base;
  }

  h3 {
    font-size: $font-size-h4;
    margin-bottom: $line-height-computed/4;
    font-weight: 600;
  }
  h4 {
    margin-top: 0;
    font-style: italic;
    font-size: $font-size-h5;
  }
}
