@import "variables";

.Loader {
  margin: 20px auto;
  border: 8px solid $gray-300;
  border-top: 8px solid $primary;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
