.ProfilePicture {
  min-height: 1px; // Workaround for IE img height issue https://github.com/philipwalton/flexbugs/issues/75

  img {
    width: 100%;
  }
}

.ProfilePicture.isDead {
  position: relative;

  img {
    filter: grayscale(100%);
  }

  .deadIndicator {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 30%;
    left: 0;
    right: 0;
    text-transform: uppercase;
    color: #fff;
    i {
      color: #fff;
    }
  }
}
