@import "variables";

.loader {
    margin-bottom: $line-height-computed;
    border: 8px solid $gray-lighter;
    border-top: 8px solid $brand-primary;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
