@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/mixins';

// Custom

$orange-dark: #df5206;
$green-dark:  #6a7029;
$brown-dull:  #dfd4ba;
$brown-faded: #e6dfcc;

$font-family-serif: "Playfair Display", Georgia, "Times New Roman", Times, serif;

// Bootstrap Variables

$primary: $orange-dark;
$secondary: $green-dark;

$font-family-sans-serif: "Open Sans", Roboto, Arial, sans-serif;
$headings-font-family: $font-family-serif;

@import 'node_modules/bootstrap/scss/variables';
