@import "variables";

.FeaturedBird, .Page, .Blog, .Sponsors, .LatestSightings, .BannerButtons {
  margin-bottom: $line-height-computed;
}

.Banner {
  margin-bottom: 0;
}

.BannerButtons {
  background-color: $brand-green;
  font-size: $font-size-h3;
  padding-top: $line-height-computed;
  padding-bottom: $line-height-computed;
  text-transform: uppercase;
  a {
    color: $brand-dull;
  }
  .button-report {
    text-align: center;
    @media (min-width: $screen-sm-min) {
      text-align: right;
    }
  }
  .button-birds {
    text-align: center;
    @media (min-width: $screen-sm-min) {
      text-align: left;
    }
  }
}
