@import "variables";

section {
  margin-bottom: $line-height-computed;
}

.Sponsors {
  border-top: 1px solid $gray-lightish;
}

.messages {
  border: 1px solid $brand-primary;
  background-color: lighten($brand-primary, 50%);
  padding: $line-height-computed/2;
  padding-bottom: 0;
}

.BannerButtons {
  background-color: $brand-green;

  .container {
    padding-top: $line-height-computed;
    padding-bottom: $line-height-computed;

    .banner-button {
      text-transform: uppercase;
      text-align: center;

      a {
        color: $brand-dull;
        font-size: ceil(($font-size-base * 1.4));
      }

      @media (min-width: $screen-sm-min) {
        border-right: 1px solid $brand-dull;
        &:last-child {
          border-right: 0;
        }
      }
    }
  }
}

// Provide constraint to 'background colour bars' of large container + 50px (either side)
$constrainer-width: $container-lg+100px;

.constrainer {
  background-color: #fff;
  overflow: hidden;

  @media (min-width: $constrainer-width+1px) {
    border: 1px solid $gray-lightish;
    border-top: 0;
    border-bottom: 0;
    margin: auto;
    overflow: hidden;
    width: $constrainer-width;
  }
}

.row.is-flex {
  display: flex;
  flex-wrap: wrap;
  &> [class*='col-'] {
      display: flex;
      flex-direction: column;
  }
  &:before, &:after {
    display: none;
  }
}
