@import 'assets/css/_variables';

.SightingDetail {
  margin-bottom: 2rem;

  table,
  section {
    margin-bottom: 2rem;
  }

  table {
    border-bottom: $table-border-width solid $table-border-color;
  }
}
