@import 'variables';

.SightingsMap {
  .mapboxgl-popup-content {
    font-size: $font-size-base;
    padding: 0;

    .SightingCard {
      margin: 0 !important;
    }
    .locate {
      display: none;
    }
  }

  .cluster-marker {
    background: $primary;
    border: 1px solid $white;
    border-radius: 50%;
    color: $white;
    height: 60px;
    width: 60px;
    position: relative;
    top: 30px;
    cursor: pointer;

    .number {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 1rem;
    }
  }
}
