@import "../../assets/css/variables";

footer {
  background-color: #E6DFCC;

  .constrainer {
    padding-top: $line-height-computed;
    background-color: lighten(#E6DFCC, 5%);
    border-color: darken(#E6DFCC, 5%);
  }
}
