@import "../../assets/css/variables";

.no-sightings, .default {
  font-style: italic;
}

.BirdSightingsTable {
  h2 {
    margin-top: 0;
  }
}

.BirdContainingSightings {
  font-size: $font-size-small;
}
