@import "../../assets/css/variables";

.BirdCard {
  position: relative;
  border: 1px solid  $gray-lightish;
  margin-bottom: $line-height-computed;

  .is-dead {
    position: absolute;
    top: $line-height-computed;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    font-size: $font-size-h2;
    color: $brand-danger;
  }

  .card-details {
    margin: $line-height-computed/2;

    h2, h3 {
      margin: 0;
      font-family: $font-family-base;
      font-size: $font-size-h4;
    }
    h2 {
      color: $brand-green;
    }

    p.details {
      font-size: $font-size-small;
      font-weight: 600;
    }
    p.bandcombo {
      font-size: $font-size-small;
    }
    p.status {
      position: absolute;
      width: 100%;
      text-align: center;
      top: 50px;
      left: 0;
      right: 0;
      font-size: $font-size-h1;
      text-transform: uppercase;
      color: #fff;
      .glyphicon {
        margin: 0;
      }
    }
  }
}
