@import "../../assets/css/variables";

.navbar {
  border: 0;

  .constrainer {
    background-color: $gray-base;
    border-color: $gray-dark;
  }

  .navbar-nav {
    text-transform: uppercase;
  }

  .navbar-brand {
    padding-top: 24px;
    padding-bottom: 24px;

    img {
      height: 32px;
    }
  }
}
