@import "../../assets/css/variables";

.navbar {
  border-bottom: 0;
  .navbar-nav {
    text-transform: uppercase;
  }
  .navbar-brand {
    padding-top: 24px;
    padding-bottom: 24px;

    img {
      height: 32px;
    }
  }
}
